* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

:root {
  --header-background: #000000;
}

.brand {
  font-size: 24px;
  font-weight: 700;
}

.navBar {
  background-color: var(--header-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;
  color: #fff;
  padding: 30px;
  position: sticky;
  top: 0;
}

.navBar>ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.menuItems {
  text-decoration: none;
  color: #fff;
}

.card-container {
  width: 95%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-x: hidden;
  gap: 10px;
  padding-top: 20px;
  margin-inline: auto;
}

.card {
  /* width: 340px;
  height: 606px; */
  max-width: 355px;
  aspect-ratio: 0.8;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
  border-radius: 20px;
  color: #fff;
  gap: 5px;
  color: #000000;
  border: 1px solid #0000005a;
}

.card>p{
  padding-inline: 10px;
}

.img-container {
  width: 95%;
  height: 80%;
  object-fit: cover;
  object-position: center;
  margin-inline: auto;
  border-radius: 10px;
}

.btn{
  width: 95%;
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px;
  align-self: center;
  border-radius: 15px;
  font-weight: 600;
}

.btn:hover{
background-color: #fff;
color: #000000;
cursor: pointer;
border: 1px solid rgba(0, 0, 0, 0.304);
}

.btn:active{
  scale: 0.9;
}

.my-cart{
  width: 100vw;
  height: fit-content;
  display: flex;
}

.my-cart-items{
  width: 75%;
  margin: 0;
  overflow: hidden ;
}

.summary{
  background-color: #000000;
  width: 20%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  overflow: hidden;
  position: sticky;
  top: 90px;
  gap: 10px;
  margin-top: 10px;
  border-radius: 10px;
  color: #fff;

}

.summary>h2{
  text-align: center;
}

.summary>ol{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.summary>ol>li{
  background-color: rgba(128, 128, 128, 0.511);
  border-radius: 10px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.532);
  display: flex;
  justify-content: space-between;
}

.summary>p{
  border-top: 1px solid #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
}

.btn2{
  background-color: #fff;
  color: #000000;
  margin-top: 10px;
}